body {
    background: -o-linear-gradient(135deg, #0575E6, #00F260, #0575E6);
    background: linear-gradient(-45deg, #0575E6, #00F260, #0575E6);
    background-size: 400% 400%;
    -webkit-animation: gradient 30s cubic-bezier(0.37, 0, 0.63, 1) infinite;
            animation: gradient 30s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

#header {
    color:white;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    padding: 20px;
}

.logo {
    height: 150px;
}
