body {
    background: -o-linear-gradient(135deg, #0575E6, #00F260, #0575E6);
    background: linear-gradient(-45deg, #0575E6, #00F260, #0575E6);
    background-size: 400% 400%;
    -webkit-animation: gradient 30s cubic-bezier(0.37, 0, 0.63, 1) infinite;
            animation: gradient 30s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.content {
    float:left;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logo-container
{
    display: inline-block;
    padding-right: 50px;
}

.info-container {
    display: inline-block;
    margin:auto;
}

/* logo stuff */
.logo {
    width: 400px;
    height: auto;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: all .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* social media icon stuff */
.social-group {
    margin: 10px;
    height: auto;
}

.social-icon {
    width: 64px;
    -webkit-filter: drop-shadow(3px 3px 2px black);
            filter: drop-shadow(3px 3px 2px black);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-icon:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    padding-left: 5px;
    padding-right: 5px;
}

/* nav buttons */
.btn {
    background-color: transparent;
    padding: 15px;
    margin: 5px;
    width: 300px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 125%;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

/* text stuff */
#name {
    color: white;
    text-align: center;
    font-size: 700%;
    line-height: 30px;
    height: 30px;
	  text-shadow: 2px 5px 5px green;
    margin-top: 0.3em;
}

#desc {
    color: white;
    font-size: 200%;
    margin-top: 0.2em;
    text-shadow: 2px 5px 4px green;
}

#credit {
    color: white;
    text-shadow: 2px 2px 2px green;
    font-size:150%;
    transition: all 0.5s ease-in-out;
}

#credit a {
    text-decoration: underline;
}

#credit a:hover {
    text-shadow: 2px 2px 4px #4dd2ff;
}

#credit a:visited {
    color: white;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* mobile view */
@media screen and (max-width:1100px) {
    .content {
        float: none;
        display:block;
    }

    .logo-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
        padding-top: 100px;
    }

    .info-container {
        display: block;
    }

    .social-icon {
        width: 85px;
    }

    .social-group {
        margin: 10px;
    }

    #name {
        font-size: 15vw;
    }

    #desc {
        font-size: 4vw;
    }
}
