body {
/* background: #00F260;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Montserrat', sans-serif;
/* color: white; */
}

.social-group {
    margin: 5px;
    height: auto;
}

.social-icon {
    width: 64px;
    -webkit-animation: wave 1.5s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
    animation: wave 1.5s cubic-bezier(0.37, 0, 0.63, 1) infinite alternate;
}

.social-group a:nth-child(1) img {animation-delay: 0ms;}
.social-group a:nth-child(2) img {animation-delay: 250ms;}
.social-group a:nth-child(3) img {animation-delay: 500ms;}
.social-group a:nth-child(4) img {animation-delay: 750ms;}
.social-group a:nth-child(5) img {animation-delay: 1000ms;}
.social-group a:nth-child(6) img {animation-delay: 1250ms;}

.zoom {
    transition: all .2s;
}
.zoom:hover {
    transform: scale(1.5);
}

@keyframes wave {
    from {transform:translateY(0)}
    to {transform:translateY(5px)}
}
