body {
    background-image: url("../../imgs/bg.png");
    background-size: 400px 400px;
    background-repeat: repeat;
}

h1, h2, h3, p {
    text-align: center
}

li > p {
    margin: 15px auto;
    text-align: left;
}

li {
    margin: 15px auto;
    text-align: left;
}

/* logo */
.logo img {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 5px 10px 8px #888888;
}

.content {
    flex: 1;
    max-width: 1200px;
    min-width: 400px;
    min-height: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(255,255,255, 0.90);
    border-radius: 50px;
}

.content-body {
    margin: 5px 10%;
}
